body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: white;
  color: #333;
}

header {
  background-color: aqua;
  color: black;
  padding: 40px 20px;
  display: flex;
  gap: 40px;
}

span{
  cursor: pointer;
}

a:hover{
  color: white;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

section {
  padding: 20px;
  margin: 10px auto;
  max-width: 800px;
  background-color: white;
  border-radius: 9px;
  box-shadow: 24px 22px 33px 19px rgba(0,0,0,0.75);
-webkit-box-shadow: 24px 22px 33px 19px rgba(0,0,0,0.75);
-moz-box-shadow: 24px 22px 33px 19px rgba(0,0,0,0.75);
}

h2 {
  color: #1d3557;
}

footer {
  text-align: center;
  padding: 15px;
  color: black;
  background-color: aqua;
  margin-top: 2em;
}

img{
 display: flex;
 align-items: end;
 margin-left: auto;
 cursor: pointer;
}

.img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.search-box {
  margin-bottom: 10px;
}

#searchInput {
  padding: 5px;
  width: 200px;
}


